<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labels</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
    <h1>Labels for Event: {{ event }}</h1>
    <ul>
        {% for label in labels %}
        <li>
            <form action="/summarize" method="post">
                <input type="hidden" name="event" value="{{ event }}">
                <input type="hidden" name="label" value="{{ label }}">
                <button type="submit">{{ label }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
    </div>
</body>
</html>
